/* Add screen styles below */
a.active {
    font-weight: bold;
}

body { 
    font-family: Helvitca, sans sans-serif;
    background-color: #F6C3FF;
    margin: 0;
    padding-bottom: 20px;
}

h1 {
    background-color: white;
    font-size: 40px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 30px;
}

label,input {
    display:flex;
    flex-direction:column;
}

.order-form { 
    flex-grow: 1;
    flex-basis: 0;
    background-color: #CA32E8;
    border-radius:20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.selection-box {
    margin: 20px;
}
