/* Add screen styles below */
a.active {
    font-weight: bold;
}

body { 
    font-family: Helvitca, sans sans-serif;
    background-color: #F6C3FF
}

label,input {
    display:flex;
    flex-direction:column;
}

.order-form { 
    flex-grow: 1;
    flex-basis: 0;
    background-color: #CA32E8;
    border-radius:20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
.selection-box {
    width: 500px;
}
    */
