/* Add screen styles below */
a.active {
    font-weight: bold;
}

body { 
    font-family: Helvitca, sans sans-serif;
    background-color: #F6C3FF
}

label,input {
    display:flex;
    flex-direction:column;
}

/*
.selection-box {
    width: 500px;
}
    */
